<html>
    <head>
        <link rel="stylesheet" href="css/icons.css">
        <style>
            body{ font-size: 400% }
        </style>
    </head>
    <body>
        <% _.each(glyphs, function(glyph) { %>
        <span class="<%= cssClass %> <%= cssClass %>-<%= glyph %>"></span><% }); %>
    </body>
</html>
